<div class="row justify-content-center">
  <%= form_with url: plan_child_index_path(@plan.id), model:Child.new, id: 'charge-form', class: 'transaction-form-wrap',local: true do |f| %>
    <div class="col-1">
      <% if user_signed_in? %>
        <% unless current_user.id == @plan.user.id %>
          <%# unless @child.user.id == @child.plan.id %>
            <button type="button" class="btn btn-outline-primary">
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.submit "このプランに参加する", class:"btn byn-primary" %>
            </button>
          <%# else %>
          <%# end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>