<head>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
</head>

<div class="row justify-content-center">
  <%= form_with url: plan_child_index_path(@plan.id), model:Child.new, id: 'charge-form', class: 'transaction-form-wrap',local: true do |f| %>
    <div class="col mt-3">
      <% if user_signed_in? %>
        <div class="row justify-content-center">
            <% if user_signed_in? %>
              <% if current_user.id == @plan.user.id %>
              <!--<div class="col-6">
                <button type="button" class="btn btn-outline-danger">
                  <%#= link_to 'このプランを削除する', plan_path(@plan), method: :delete ,class: "text-danger"%>
                </button>
              </div>-->
              <div class="col">
                <button type="button" class="btn btn-outline-primary">
                  <%= link_to 'このプランを編集する', edit_plan_path, method: :get %>
                </button>
              </div>
              <% end %>
            <% end %>
        </div>

        <% unless current_user.id == @plan.user.id %>
          <% @plan.child.each do |c| %>
            <% @index = 0%>
            <% if c.user.id == current_user.id %>
              <% @index += 1 %>
            <% end %>
          <% end %>
          <% if @index == 0 || @plan.child.length == 0%>
            <button type="button" class="btn btn-primary">
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.submit "このプランに参加する", class:"btn btn-primary" %>
            </button>
          <% else %>
            <button type="button" class="btn btn-primary btn-lg btn-block">
              参加済みです
            </button>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>