.top {
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  justify-content: center;
}

.field {
  height: 50px;
  background-color: coral;
  justify-content: center;
}

.actions {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.go-home {
  display: flex;
  justify-content: center;
}