<head>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
  <script src="https://kit.fontawesome.com/001bb60e3d.js" crossorigin="anonymous"></script>
</head>

<%= render "header/admin_header"%>

<div class="container-fluid">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">お問い合わせ詳細</li>
    </ol>
  <nav>
</div>

<div class="container-fluid">
  <h2>お知らせのタイトル:<%= @contact_us.title %></h2>
  <div class="row justify-content-center">
    <h2>本文</h2>
  </div>
  <div class="col">
      <div class="row justify-content-center">
        <div class="col">
          <div class="card" style="max-width: 100%;">
            <div class="card-body">
              <h2><%= @contact_us.text %></h2>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>