<%= render "header/header"%>

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">トップページ</a></li>
    <li class="breadcrumb-item">よくある質問</li>
  </ol>
<nav>

<div class="row justify-content-center">
  <div class="col-10">
    <h2>よくある質問</h2>
    <p><b>Q.会員登録しないと利用できませんか？</b></p>
    <p>A.テストログインができます。是非ご利用ください。</p>
    <p><b>Q.料金はかかりますか？</b></p>
    <p>A.いいえ。完全無料でお使いいただけます。</p>
  </div>
</div>


<div class="fixed-bottom text-center" id="nav">
  <%= render "header/footer"%>
</div>