<%= render "header/header"%>

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">トップページ</a></li>
    <li class="breadcrumb-item">最新情報</li>
  </ol>
<nav>

<div class="row justify-content-center">
  <div class="col-10">
    <h2>最新情報</h2>
  </div>
</div>

<div class="fixed-bottom text-center" id="nav">
  <%= render "header/footer"%>
</div>