.entrance-top {
  width: 100%;
  height: 500px;
  background-color: #f8f8f8;
}

.home {
  width: 100%;
  height: 600px;
}

.top-image {
  background-image: image-url('rider-link.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 600px;
  display: flex;
}

.title {
  color: white;
  font-size: 100px;
}

.home-content-back {
  display: flex;
  justify-content: center;
  background-color: coral;
}

.home-content {
  font-size: 30px;
  color: black;
}

.entrance-center {
  height: 400px;
  width: 100%;
  background-color: #f8f8f8;
}

.torisetu-in {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: whitesmoke;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.sub-title {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
}

.center-top {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
}

.center-left {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.center-right {
  display: flex;
}

.user-logout-out {
  display: flex;
  align-items: center;
  margin: 10px;
}

.user-logout {
  font-size: 30px;
  color:black;
  //border: 1px solid blue;
  text-decoration: none;
}

.user-login-out {
  display: flex;
  align-items: center;
  margin: 10px;
}

.user-login {
  color: black;
  font-size: 30px;
  text-decoration: none;
}

.user-new-out {
  display: flex;
  align-items: center;
}

.user-new {
  color: black;
  font-size: 30px;
  text-decoration: none;
}

.user-nickname-out {
  display: flex;
  align-items: center;
  margin: 10px;
}

.user-nickname {
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.plan-create-out {
  display: flex;
  align-items: center;
}

.plan-create {
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.plan-zone {
  width: 100%;
}

.plan-menu-out {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid cadetblue;
  margin: 5px;
}

.plan-menu {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.plan-left {
  color: black;
  display: flex;
  justify-content: center;
  width: 50%;
}

.prefecture-name {
  text-decoration: none;
  font-size: 35px;
  color: black;
}

.plan-right {
  width: 80%;
  justify-content: center;
}

.right-top {
  display: flex;
  justify-content: center;
}

.right-bottom {
  display: flex;
  justify-content: center;
}

.plan-content {
  font-size: 23px;
}

.spase {
  height: 30px;
}

.bikers {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
}

.bike {
  width: 15%;
  height: 55%;
  background-color: brown;
}

.bike-name {
  display: flex;
  justify-content: center;
}

.bike-image {
  display: flex;
  justify-content: center;
  padding: 15px;

}

.neikid {
  width: 100%;
  height: 70%;
}

.center-bottom {
  height: 50px;
  width: 100%;
}

.bottom-contents {
  height: 100px;
  width: 100%;
  background-color: rgb(43, 42, 42);
}

.official-site {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.official-font {
  font-size: 20px;
  color: white;
}

.hp-out {
  height: 50px;
  display: flex;
  justify-content: center;
}

.hp {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.honda {
  color: white;
  padding: 10px;
  font-size: 20px;
}

.kawasaki {
  color: white;
  padding: 10px;
  font-size: 20px;
}

.yamaha {
  color: white;
  padding: 10px;
  font-size: 20px;
}

.suzuki {
  color: white;
  padding: 10px;
  font-size: 20px;
}


@media (max-width: 1024px) {
  .entrance-top {
    width: 100%;
  }
}