<%= render "header/header"%>

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">トップページ</a></li>
    <li class="breadcrumb-item">会社情報</li>
  </ol>
<nav>

<div class="row justify-content-center">
  <div class="col-10">
    <h2>運営会社</h2>
    <p>・会社名：Rider-link</p>
    <p>・住所：東京都〇〇区◆◆0-1-2 バイクハイツ123号室</p>
    <p>・Eメールアドレス：rider.link.pf@gmail.com</p>
    <p>・電話番号：012-3456-7890</p>
  </div>
</div>

<div class="fixed-bottom text-center" id="nav">
  <%= render "header/footer"%>
</div>