<head>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
</head>


<%= render "header/header"%>

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">トップページ</a></li>
    <li class="breadcrumb-item">使用技術</li>
  </ol>
<nav>

<div class="row justify-content-center">
  <div class="col-10">
    <h2>使用技術</h2>
    <p><b>フレームワーク</b></p>
    <p>ruby on rails(6.0.3.4) , bootstrap4</p>
    <p><b>言語</b></p>
    <p>HTML , CSS , SCSS , Ruby( 2.6.5p114 ) , javascript</p>
    <p><b>ツール</b></p>
    <p>github</p>
    <p><b>インフラ</b></p>
    <p>AWS,EC2</p>
    <p><b>DB</b></p>
    <p>MySQL(5.6.47)</p>
  </div>
</div>

<%= render "header/footer"%>