<div class="bg-dark text-white">
  <div class="container-fluid mt-4">
    <div class="row justify-content-center">
      <div class="col-2 offset-1">
      <b>OFFICIAL SITE</b>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2 offset-1">
        <b><%= link_to "HONDA", "https://www.honda.co.jp/motor/"%></b>
      </div>
      <div class="col-2">
        <b><%= link_to "SUZUKI", "https://www1.suzuki.co.jp/motor/"%></b>
      </div>
      <div class="col-2">
        <b><%= link_to "Kawasaki", "https://www.kawasaki-motors.com/mc/"%></b>
      </div>
      <div class="col-2">
        <b><%= link_to "YAMAHA", "https://www.yamaha-motor.co.jp/mc/"%></b>
      </div>
    </div>
  </div>
</div>