.top-content {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 100%;
  align-items: center;
}

.profile-top {
  font-size: 70px;
}

.profiles {
  background-color: royalblue;
}

.profile {
  display: flex;
  justify-content: center;
}

